/* Import Leaflet CSS for web */
@import 'leaflet/dist/leaflet.css';

/* Fix for marker icons not showing */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}

/* Custom marker styles */
.custom-marker {
  background: transparent !important;
  border: none !important;
}

